@import 'variables.scss';

.videoAside{
    margin: 0 16px;

    @media (min-width: $tablet) {
        margin: 0 24px;
    }
}

h4 {
    color: $darkgrey;
    font-weight: bold;
    margin: 40px 0;
}

.videoCard {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.videoCard__img{
    height: 70px;
    width: 120px;
    border-radius: 4px;
}

.videoCard__details{
    width: 58%;

    @media (min-width: $tablet) {
        width: 31%;
    }
}

.videoCard__title {
    margin: 0 0 8px 16px;
    font-weight: bold;
    white-space: unset;
    max-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoCard__channel {
    margin: 8px 0 5px 16px;
}