@import 'variables.scss';

.video {
    @media (min-width: $tablet){
        width: 768px;
        background-color: black;
        display: flex;
        justify-content: center;
        height: 400px;
    }
}

.main__video {
    width: 100%;
    height: 183px;
 
    @media (min-width: $tablet) {
        width: 700px;
        height: 400px;
    }
}

.main__container {
    margin: 0 16px;
    border-bottom: solid 1px $fontshadow;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (min-width: $tablet) {
        padding-top: 48px;
        margin: 0 24px;
    }
}

.video__controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    position: relative;
    bottom: 48px; 

    @media (min-width: $tablet) {
        position: absolute;
        top: 430px;
        width: 700px;
        margin: 0 8px;
    }
}

.video__playPauseButton, .video__progressContainer, .video__vol {
    height: 30px;
    background-color: black;
    opacity: 0.5;
    border-radius: 4px;
}

.video__playPauseButton{
    width: 55px;
}

.video__play {
    position: absolute;
    height: 30px;
    width: 55px;
    border-radius: 4px;
    border: none;
    background: none;
}

.video__play--svg {
    height: 20px;
    position: absolute;
    left: 22px;
    top: 5px;
}

.video__play--svg:active {
    display: none;
}

// .video__pause {
//     position: absolute;
//     height: 30px;
//     width: 55px;
//     border-radius: 4px;
//     border: none;
//     background: none;
//     display: none;
// }

// .video__pause--svg {
//     height: 20px;
//     position: absolute;
//     left: 22px;
//     top: 5px;
//     display: none;
// }
// .video__pause--svg:active {
//     display: none;
// }

.video__progressContainer  {
    width: 134px;
    margin: 0 8px;

    @media (min-width: $tablet) {
        width: 519px;
        margin: 0 16px;
    }
}

.video__progress {
    width: 109px;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 75px;
    top: 13px;

    @media (min-width: $tablet) {
        width: 407px;
        margin-left: 8px;
    }
}

.video__progressBar {
    @media (max-width: 767px) {
        display: none;
    }
    position: absolute;
    right: 110px;
    top: 3px;
    color: white;
    margin: 0 16px;
}


.video__vol{
    width: 71px;
    padding-left: 12px;

    @media (min-width: $tablet) {
        width: 58px;
    }
}

.video__fullscreen {
    position: absolute;
    left: 214px;
    top: 4px;

    @media (min-width: $tablet) {
        left: 610px;
    }
}

.video__volume {
    position: absolute;
    left: 248px;
    top: 4px;

    @media (min-width: $tablet) {
        left: 640px;
    }
}

.main__title {
    width: 100%;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 8px;

    @media (min-width: $tablet) {
        margin-bottom: 24px;
    }
}

.main__channel {
    width: 37%;
    margin: 8px 8px 32px 0px;

    @media (min-width: $tablet) {
        width: 15%;
        margin-top: 0px;
        margin-bottom: 24px;
    }
}

.main__date {
    width: 150px;
    height: 16px;
    padding: 3px;
    padding-left: 0;
    margin: 8px 0px 32px 0px;

    @media (min-width: $tablet) {
        margin-top: 0px;
        margin-bottom: 24px;
    }
}

.main__icons {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet) {
        margin-left: 243px;
    }
}

.main__views{
    margin: 0 24px 0 8px;
}

.main__likes{
    margin: 0 24px 0 8px;

    @media (min-width: $tablet) {
        margin-right: 0;
    }
}

.article__description {
    margin: 24px 16px 40px 16px;

    @media (min-width: $tablet) {
        width: 77%;
        margin: 40px 24px 64px 24px;
    }
}

.comments__container {
    width: 288px;
    margin: 16px 16px 0 16px;
    font-family: 'Avenir', sans-serif;
    display: inline-flex;
    border-bottom: solid 1px $darkgrey;

    @media (min-width: 400px) {
        width: 100%;
    }

    @media (min-width: $tablet) {
        width: 720px;
        margin: 0 24px;
    }

    @media (min-width: 800px) {
        border-bottom: none;
    }

    @media (min-width: $desktop) {
        width: 528px;
        margin: 0 276px;
    }
}

.comments__title {
    margin: 0 16px;

    @media (min-width: $tablet) {
        margin: 0 24px;
    }
}

.comments__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin-top: 24px;

    @media (min-width: $tablet) {
        height: 32px;
        width: 32px;
        margin-top: 75px;
    }

    @media (min-width: $desktop) {
        height: 48px;
        width: 48px;
        // margin-top: 84px;
    }
}

.comments__section {
    margin-left: 24px;

    @media (min-width: $tablet) {
        width: 92%;;
        margin-left: 8px;
        height: 120px;
        margin-bottom: 24px;
    }

    @media (min-width: $desktop) {
        margin-left: 20px;
    }
}

#comment__form {
    @media (min-width: $tablet) {
        width: 100%;

        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }
}

// .comment__title {
//     color: $darkgrey;
//     font-weight: bold;
//     margin-top: 0;

//     @media (min-width: $desktop) {
//         margin-bottom: 8px;
//     }
// }

.comment__p {
    color: $darkgrey;
    font-weight: bold;

    @media (min-width: $tablet) {
        margin-top: 32px;
    }

    @media (min-width: $desktop) {
        margin-top: 0;
        margin-bottom: 8px;
    }
}

.comment__box {
    height: 100px;
    width: 202px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: $darkgrey;
    box-shadow: none;
    background-color: $gallerybackground;
    padding: 10px;
    resize: none;

    @media (min-width: 400px) {
        width: 232px;
    }

    @media (min-width: 550px) {
        width: 49vw;
    }

    @media (min-width: $tablet) {
        height: 13px;
        width: 424px;
        padding: 16px;
    }

    @media (min-width: $desktop) {
        width: 426px;
        margin-bottom: 24px;
    }
}

.comment__box:active {
    border: solid thick $lightblue;
}

#commentButton {
    width: 224px;
    height: 40px;
    background-color: $lightblue;
    color: #FFF;
    border-radius: 4px;
    border: none;
    align-self: flex-end;
    margin: 16px 0 24px 0;

    @media (min-width:$tablet) {
        height: 47px;
        width: 160px;
        position: relative;
        bottom: 47px;
        left: 12px;
        margin: 0 40px 0 0;
    }

    @media (min-width: $desktop) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#commentButton:active {
    background-color: $darkblue;
}

.comments__posted {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 16px;
    border-bottom: solid 1px $darkgrey;

    @media (min-width: 400px) {
        @include margin10;
    }

    @media (min-width: $tablet) {
        margin: 0 24px;
        justify-content: right;
    }

    @media (min-width: 800px) {
        width: 545px;
        margin: 0 15%;
    }

    @media (min-width: 820px) {
        width: 64vw;
        margin: 0 17%;
    }

    @media (min-width:$desktop) {
        width: 528px;
        margin: 0 456px;
    }
}

.posted__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $darkgrey;
    object-fit: cover;
    object-position: left;
    margin-top: 24px;

    @media (min-width: $tablet) {
        height: 32px;
        width: 32px;
        position: relative;
        top: 26px;
        margin-top: 0;
        margin-right: 16px;
    }
 }

 .posted__name {
    width: 136px;
    margin: 24px 0px 16px 16px;
    font-weight: bold;

    @media (min-width: $tablet) {
        margin: 24px 0 0 0;
    }
 }

 .posted__date {
    width: 80px;
    color: $darkgrey;
    padding-left: 11px;
    margin: 24px 0 16px 0;

    @media (min-width: 390px) {
        width: 23vw; 
    }

    @media (min-width: 406px) {
        width: 30vw;
    }

    @media (min-width: 557px) {
        width: 32vw;
    }

    @media (min-width: 580px) {
        width: 45vw;
    }

    @media (min-width: $tablet) {
        width: 317px;
        margin: 24px 0 0 0;
    }

    @media (min-width: 800px) {
        width: 42vw;
    }

    @media (min-width: 815px) {
        width: 39vw;
    }

    @media (min-width: 923px) {
        width: 42vw;
    }

    @media (min-width: 923px) {
        width: 42vw;
    }

    @media (min-width: 1240px) {
        width: 45vw;
    }

    @media (min-width: $desktop) {
        width: 22vw;
    }
}

 .posted__comment {
    width: 234px;
    margin-left: 54px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 24px;

    @media (min-width: $tablet) {
        width: 624px;
        margin-left: 48px;
        padding-bottom: 8px;
        padding-top: 8px;
    }

 }

 .button__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete__container {
   margin: 5px 20px;
}

.delete__button {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   color: $fontsecondary;
   font-weight: 900;
   background-color: $darkgrey;
}

.delete__button:active {
    background-color: $darkblue;
}

.delete__button:hover {
   background-color: $darkblue;
}

.like__container {
   height: 30px;
   margin: 5px 20px;
   padding-right: 4px;
}

.like__button {
   height: 30px;
   width: 30px;
   margin-left: 5px;
   border-radius: 50%;
   background-color: $gallerybackground;
}

.like__button:hover {
   background-color: $lightblue;
}

.like__button:active {
   background-color: $darkblue;
}

.like__thumb {
   height: 15px;
   width: 15px;
}
