@import 'variables.scss';

.main__video {
    width: 100%;
    height: 183px;
}

.main__container {
    margin: 0 16px;
    border-bottom: solid 1px $fontshadow;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.video{
    margin: 0;
    height: 183px;
}

.video__controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    position: relative;
    bottom: 48px; 
}

.video__playPauseButton, .video__pause, .video__progressContainer, .video__vol {
    height: 30px;
    background-color: black;
    opacity: 0.5;
    border-radius: 4px;
}

.video__playPauseButton{
    width: 55px;
}

.video__play {
    position: absolute;
    height: 30px;
    width: 55px;
    border-radius: 4px;
    border: none;
    background: none;
}

.video__play--svg {
    height: 20px;
    position: absolute;
    left: 22px;
    top: 5px;
}

.video__play--svg:active {
    display: none;
}

.video__pause {
    position: absolute;
    height: 30px;
    width: 55px;
    border-radius: 4px;
    border: none;
    background: none;
    display: none;
}

.video__pause--svg {
    height: 20px;
    position: absolute;
    left: 22px;
    top: 5px;
    display: none;
}
.video__pause--svg:active {
    display: none;
}

.video__progressContainer  {
    width: 134px;
    margin: 0 8px;
}

.video__progress {
    width: 109px;
    height: 4px;
    background-color: black;
    position: absolute;
    left: 75px;
    top: 13px;
}

// .video__progressbar {
//     width: 100px;
//     height: 4px;
//     color: black;
// }


.video__vol{
    width: 71px;
    padding-left: 12px;
}

.video__fullscreen {
    position: absolute;
    left: 214px;
    top: 4px;
}

.video__volume {
    position: absolute;
    left: 248px;
    top: 4px;
}

.main__title {
    width: 100%;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 8px;
}

.main__channel {
    width: 28%;
    margin: 8px 8px 32px 0px;
}

.main__date {
    width: 150px;
    height: 16px;
    padding: 3px;
    padding-left: 0;
    margin: 8px 0px 32px 0px
}

.main__icons {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.main__views{
    margin: 0 24px 0 8px;
}

.main__likes{
    margin: 0 24px 0 8px;
}

.article__description {
    margin: 24px 16px 40px 16px;
}

.comments__container {
    width: 288px;
    margin: 16px 16px 0 16px;
    font-family: 'Avenir', sans-serif;
    display: inline-flex;
    border-bottom: solid 1px $darkgrey;

    @media (min-width: 400px) {
        width: 100%;
    }

    @media (min-width: $tablet) {
        width: 520px;
        margin: 0 100px;
    }

    @media (min-width: 800px) {
        border-bottom: none;
    }

    @media (min-width: $desktop) {
        width: 528px;
        margin: 0 276px;
    }
}

.comments__title {
    margin: 0 16px;
}

.comments__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin-top: 24px;

    @media (min-width: $desktop) {
        height: 48px;
        width: 48px;
        // margin-top: 84px;
    }
}

.comments__section {
    margin-left: 24px;

    @media (min-width: $tablet) {
        width: 520px;
    }

    @media (min-width: $desktop) {
        margin-left: 20px;
    }
}

#comment__form {
    @media (min-width: $tablet) {
        width: 460px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }
}

// .comment__title {
//     color: $darkgrey;
//     font-weight: bold;
//     margin-top: 0;

//     @media (min-width: $desktop) {
//         margin-bottom: 8px;
//     }
// }

.comment__p {
    color: $darkgrey;
    font-weight: bold;

    @media (min-width: $desktop) {
        margin-top: 0;
        margin-bottom: 8px;
    }
}

.comment__box {
    height: 100px;
    width: 202px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: $darkgrey;
    box-shadow: none;
    background-color: $gallerybackground;
    padding: 10px;
    resize: none;

    @media (min-width: 400px) {
        width: 232px;
    }

    @media (min-width: 550px) {
        width: 49vw;
    }

    @media (min-width: $tablet) {
        height: 62px;
        width: 424px;
        padding: 16px;
    }

    @media (min-width: $desktop) {
        width: 426px;
        margin-bottom: 24px;
    }
}

.comment__box:active {
    border: solid thick $lightblue;
}

#commentButton {
    width: 224px;
    height: 40px;
    background-color: $lightblue;
    color: #FFF;
    border-radius: 4px;
    border: none;
    margin: 16px 0 24px 0;

    @media (min-width:$tablet) {
        align-self: flex-end;
        width: 160px;
        height: 48px;
        margin-top: 16px;
    }

    @media (min-width: $desktop) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#commentButton:active {
    background-color: $darkblue;
}

.comments__posted {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 16px;
    border-bottom: solid 1px $darkgrey;

    @media (min-width: 400px) {
        @include margin10;
    }

    @media (min-width: $tablet) {
        width: 520px;
        margin: 0 124px;
    }

    @media (min-width: 800px) {
        width: 545px;
        margin: 0 15%;
    }

    @media (min-width: 820px) {
        width: 64vw;
        margin: 0 17%;
    }

    @media (min-width:$desktop) {
        width: 528px;
        margin: 0 456px;
    }
}

.posted__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $darkgrey;
    object-fit: cover;
    object-position: left;
    margin-top: 24px;

    @media (min-width: $desktop) {
        margin-top: 24px;
    }
 }

 .posted__name {
    width: 136px;
    margin: 24px 0px 16px 16px;
    font-weight: bold;
 }

 .posted__date {
    width: 80px;
    color: $darkgrey;
    padding-left: 11px;
    margin: 24px 0 16px 0;

    @media (min-width: 390px) {
        width: 23vw; 
    }

    @media (min-width: 406px) {
        width: 30vw;
    }

    @media (min-width: 557px) {
        width: 32vw;
    }

    @media (min-width: 580px) {
        width: 45vw;
    }

    @media (min-width: $tablet) {
        width: 317px;
    }

    @media (min-width: 800px) {
        width: 42vw;
    }

    @media (min-width: 815px) {
        width: 39vw;
    }

    @media (min-width: 923px) {
        width: 42vw;
    }

    @media (min-width: 923px) {
        width: 42vw;
    }

    @media (min-width: 1240px) {
        width: 45vw;
    }

    @media (min-width: $desktop) {
        width: 22vw;
    }
}

 .posted__comment {
     margin-left: 54px;
     margin-top: 0;
     margin-bottom: 0;
     padding-bottom: 24px;
 }

 .button__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete__container {
   margin: 5px 20px;
}

.delete__button {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   color: $fontsecondary;
   font-weight: 900;
   background-color: $darkgrey;
}

.delete__button:active {
    background-color: $darkblue;
}

.delete__button:hover {
   background-color: $darkblue;
}

.like__container {
   height: 30px;
   margin: 5px 20px;
   padding-right: 4px;
}

.like__button {
   height: 30px;
   width: 30px;
   margin-left: 5px;
   border-radius: 50%;
   background-color: $gallerybackground;
}

.like__button:hover {
   background-color: $lightblue;
}

.like__button:active {
   background-color: $darkblue;
}

.like__thumb {
   height: 15px;
   width: 15px;
}
