@import 'variables.scss';

nav {
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 321px) {
        margin: 0 5%;
    }

    @media (min-width: 375px) {
        margin: 0 10%;
    }

    @media (min-width: 410px) {
        margin: 0 15%;
    }

    @media (min-width: 500px) {
        margin: 0 21%;
    }

    @media (min-width: 600px) {
        margin: 0 26%;
    }

    @media (min-width:$tablet) {
        margin: 16px 24px;
    }

    @media (min-width: 769px) {
        margin: 16px 3%;
    }

    @media (min-width: 800px) {
        margin: 16px 4%;
    }

    @media (min-width: 900px) {
        margin: 16px 10%;
    }

    @media (min-width: 940px) {
        margin: 16px 11%;
    }

    @media (min-width: 1100px) {
        margin: 16px 14%;
    }

    @media (min-width: 1200px) {
        margin: 16px 20%;
    }

    @media (min-width: $desktop) {
        margin: 16px 180px;
    }
    
}

.nav__svg {
    height: 48px;
    width: 288px;
    text-align: center;

    @media (min-width: $tablet) {
        width: 124px;
        margin-right: 169px;
    }

    @media (min-width: $desktop) {
        margin-right: 509px;
    }
}

.nav__logo {
    padding-top: 12px;
}

.nav__search {
    border: solid 1px $fontshadow;
    height: 26px;
    width: 268px;
    margin-bottom: 8px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 4px;
    background-color: $gallerybackground;
    background: url(./Icon-search.svg) no-repeat scroll 10px 10px; 
    background-position-x: 16px;
    background-position-y: 16px;

    @media (min-width: $tablet) {
        width: 170px;
        margin-bottom: 0;
        background-position-y: 14px;
    }

    @media (min-width: $desktop) {
        width: 195px;
    }
}

.nav__button {
    height: 48px;
    width: 224px;
    margin-bottom: 16px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    border: none;
    background-color: $lightblue;
    border-radius: 4px;

    @media (min-width: $tablet) {
        width: 104px;
        margin: 0 24px;
        padding: 0;
    }
}

.nav__img--upload {
        margin-right: 5px;
}

h3 {
    width: 45%;
    margin: 0;

    @media (min-width: $tablet) {
        width: 50%;
    }
}

.nav__img--profile {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin-left: 16px;

    @media (min-width: $tablet) {
        margin: 0;
    }
}