@import 'variables.scss';

nav {
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width:$tablet) {
        margin: 16px 24px;
    }
}

.nav__svg {
    height: 48px;
    width: 288px;
    text-align: center;

    @media (min-width: $tablet) {
        width: 124px;
        margin-right: 169px;
    }
}

.nav__logo {
    padding-top: 12px;
}

.nav__search {
    border: solid 1px $fontshadow;
    width: 268px;
    margin-bottom: 8px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 4px;
    background-color: $gallerybackground;
    background: url(./Icon-search.svg) no-repeat scroll 10px 10px; 
    background-position-x: 11px;
    background-position-y: 8px;

    @media (min-width: $tablet) {
        width: 170px;
        margin-bottom: 0;
        background-position-y: 14px;
    }
}

.nav__button {
    width: 233px;
    margin-bottom: 16px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    border: none;
    background-color: $lightblue;
    border-radius: 4px;

    @media (min-width: $tablet) {
        width: 104px;
        margin: 0 24px;
        padding: 0;
    }
}

.nav__img--upload {
        margin-right: 5px;
}

h3 {
    width: 45%;
    margin: 0;

    @media (min-width: $tablet) {
        width: 50%;
    }
}

.nav__img--profile {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin-left: 16px;

    @media (min-width: $tablet) {
        height: 48px;
        width: 48px;
        margin: 0;
    }
}