@import 'variables.scss';

.videos {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    @media (min-width: $desktop) {
        width: 368px;
    }
}

.videoAside{
    @media (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 368px;
        margin-left: 24px;
    }
}

h4 {
    color: $darkgrey;
    font-weight: bold;
    margin: 40px 0;
}

.videoCard {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.videoCard__img{
    height: 70px;
    width: 120px;
    border-radius: 4px;
}

.videoCard__details{
    width: 156px;

    @media (min-width: $tablet) {
        width: 45%;
    }

    @media (min-width: $desktop) {
        width: 63%;
    }
}

.videoCard__title {
    margin: 0 0 8px 16px;
    font-weight: bold;
    white-space: unset;
    max-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoCard__channel {
    margin: 8px 0 5px 16px;
}